## Evaluate the dataset containing the GDPs of different countries to:

• Find and print the name of the country with the highest GDP,

• Find and print the name of the country with the lowest GDP,

• Print out text and input values iteratively,

• Print out the entire list of the countries with their GDPs, and

• Print the highest GDP value, lowest GDP value, mean GDP value, standardized GDP value, and the sum of all the GDPs

In [48]:
# importing pandas as pd
import pandas as pd

In [49]:
data={'Country':['Algeria','Angola','Argentina','Australia','Austria','Bahamas','Bangladesh','Belarus','Belgium','Bhutan','Brazil','Bulgaria','Cambodia','Cameroon','Chile','China','Colombia','Cyprus','Denmark','El Salvador','Estonia','Ethiopia','Fiji','Finland','France','Georgia','Ghana','Grenada','Guinea','Haiti','Honduras','Hungary','India','Indonesia','Ireland','Italy','Japan','Kenya', 'South Korea','Liberia','Malaysia','Mexico', 'Morocco','Nepal','New Zealand','Norway','Pakistan', 'Peru','Qatar','Russia','Singapore','South Africa','Spain','Sweden','Switzerland','Thailand', 'United Arab Emirates','United Kingdom','United States','Uruguay','Venezuela','Vietnam','Zimbabwe'], 
      'GDP':[2255.225482,629.9553062,11601.63022,25306.82494,27266.40335,19466.99052,588.3691778,2890.345675,24733.62696,1445.760002,4803.398244,2618.876037,590.4521124,665.7982328,7122.938458,2639.54156,3362.4656,15378.16704,30860.12808,2579.115607,6525.541272,229.6769525,2242.689259,27570.4852,23016.84778,1334.646773,402.6953275,6047.200797,394.1156638,385.5793827,1414.072488,5745.981529,837.7464011,1206.991065,27715.52837,18937.24998,39578.07441,478.2194906,16684.21278,279.2204061,5345.213415,6288.25324,1908.304416,274.8728621,14646.42094,40034.85063,672.1547506,3359.517402,36152.66676,3054.727742,33529.83052,3825.093781,15428.32098,33630.24604,39170.41371,2699.123242,21058.43643,28272.40661,37691.02733,9581.05659,5671.912202,757.4009286,347.7456605]}
df=pd.DataFrame(data) # creating dataframe
df.head()

     Country           GDP
0    Algeria   2255.225482
1     Angola    629.955306
2  Argentina  11601.630220
3  Australia  25306.824940
4    Austria  27266.403350

In [50]:
df.describe() #generates descriptive statistics

                GDP
count     63.000000
mean   11289.409272
std    12846.190627
min      229.676952
25%     1270.818919
50%     4803.398244
75%    20262.713475
max    40034.850630

In [39]:
df[df.GDP == max(df.GDP)]
# Norway is the country with highest GDP

   Country          GDP
45  Norway  40034.85063

In [40]:
df[df.GDP == min(df.GDP)]
# Ethiopia is the country with lowest GDP

     Country         GDP
21  Ethiopia  229.676952

In [41]:
df.values
# prints out the entire list of the countries with their GDPs.

array([['Algeria', 2255.225482],
       ['Angola', 629.9553062],
       ['Argentina', 11601.63022],
       ['Australia', 25306.82494],
       ['Austria', 27266.40335],
       ['Bahamas', 19466.99052],
       ['Bangladesh', 588.3691778],
       ['Belarus', 2890.345675],
       ['Belgium', 24733.62696],
       ['Bhutan', 1445.760002],
       ['Brazil', 4803.398244],
       ['Bulgaria', 2618.876037],
       ['Cambodia', 590.4521124],
       ['Cameroon', 665.7982328],
       ['Chile', 7122.938458],
       ['China', 2639.54156],
       ['Colombia', 3362.4656],
       ['Cyprus', 15378.16704],
       ['Denmark', 30860.12808],
       ['El Salvador', 2579.115607],
       ['Estonia', 6525.541272],
       ['Ethiopia', 229.6769525],
       ['Fiji', 2242.689259],
       ['Finland', 27570.4852],
       ['France', 23016.84778],
       ['Georgia', 1334.646773],
       ['Ghana', 402.6953275],
       ['Grenada', 6047.200797],
       ['Guinea', 394.1156638],
       ['Haiti', 385.5793827],
       ['Honduras', 1414.072488],
       ['Hungary', 5745.981529],
       ['India', 837.7464011],
       ['Indonesia', 1206.991065],
       ['Ireland', 27715.52837],
       ['Italy', 18937.24998],
       ['Japan', 39578.07441],
       ['Kenya', 478.2194906],
       ['South Korea', 16684.21278],
       ['Liberia', 279.2204061],
       ['Malaysia', 5345.213415],
       ['Mexico', 6288.25324],
       ['Morocco', 1908.304416],
       ['Nepal', 274.8728621],
       ['New Zealand', 14646.42094],
       ['Norway', 40034.85063],
       ['Pakistan', 672.1547506],
       ['Peru', 3359.517402],
       ['Qatar', 36152.66676],
       ['Russia', 3054.727742],
       ['Singapore', 33529.83052],
       ['South Africa', 3825.093781],
       ['Spain', 15428.32098],
       ['Sweden', 33630.24604],
       ['Switzerland', 39170.41371],
       ['Thailand', 2699.123242],
       ['United Arab Emirates', 21058.43643],
       ['United Kingdom', 28272.40661],
       ['United States', 37691.02733],
       ['Uruguay', 9581.05659],
       ['Venezuela', 5671.912202],
       ['Vietnam', 757.4009286],
       ['Zimbabwe', 347.7456605]], dtype=object)

In [42]:
print('Maximum GDP value is',max(df.GDP))
print('Minimum GDP value is',min(df.GDP))
print('Mean GDP value is', df.GDP.mean())
print('Sum of all GDPs is', df.GDP.sum())

Maximum GDP value is 40034.85063
Minimum GDP value is 229.6769525
Mean GDP value is 11289.409271639684
Sum of all GDPs is 711232.7841133

In [43]:
# Print out text and input values iteratively
for i in range(len(df.Country)):
  for j in range(i, len(df.GDP)):
    print(df.Country.iloc[i],df.GDP.iloc[j])
    break

Algeria 2255.225482
Angola 629.9553062
Argentina 11601.63022
Australia 25306.82494
Austria 27266.40335
Bahamas 19466.99052
Bangladesh 588.3691778
Belarus 2890.345675
Belgium 24733.62696
Bhutan 1445.760002
Brazil 4803.398244
Bulgaria 2618.876037
Cambodia 590.4521124
Cameroon 665.7982328
Chile 7122.938458
China 2639.54156
Colombia 3362.4656
Cyprus 15378.16704
Denmark 30860.12808
El Salvador 2579.115607
Estonia 6525.541272
Ethiopia 229.6769525
Fiji 2242.689259
Finland 27570.4852
France 23016.84778
Georgia 1334.646773
Ghana 402.6953275
Grenada 6047.200797
Guinea 394.1156638
Haiti 385.5793827
Honduras 1414.072488
Hungary 5745.981529
India 837.7464011
Indonesia 1206.991065
Ireland 27715.52837
Italy 18937.24998
Japan 39578.07441
Kenya 478.2194906
South Korea 16684.21278
Liberia 279.2204061
Malaysia 5345.213415
Mexico 6288.25324
Morocco 1908.304416
Nepal 274.8728621
New Zealand 14646.42094
Norway 40034.85063
Pakistan 672.1547506
Peru 3359.517402
Qatar 36152.66676
Russia 3054.727742
Singapore 33529.83052
South Africa 3825.093781
Spain 15428.32098
Sweden 33630.24604
Switzerland 39170.41371
Thailand 2699.123242
United Arab Emirates 21058.43643
United Kingdom 28272.40661
United States 37691.02733
Uruguay 9581.05659
Venezuela 5671.912202
Vietnam 757.4009286
Zimbabwe 347.7456605

In [47]:
# Standardized GDP
mean=df.GDP.mean()
std=df.GDP.std()
df['Standardized GDP']=(df.GDP-mean)/std
df

          Country           GDP  Standardized GDP
0         Algeria   2255.225482         -0.703258
1          Angola    629.955306         -0.829775
2       Argentina  11601.630220          0.024305
3       Australia  25306.824940          1.091173
4         Austria  27266.403350          1.243715
..            ...           ...               ...
58  United States  37691.027330          2.055210
59        Uruguay   9581.056590         -0.132985
60      Venezuela   5671.912202         -0.437289
61        Vietnam    757.400929         -0.819855
62       Zimbabwe    347.745660         -0.851744

[63 rows x 3 columns]